<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- ============================== 기본 데이터소스 관련 - start ============================== -->
	<beans profile="local">
		<bean id="egov.sqlSession" class="codegurus.cmm.config.RefreshableSqlSessionFactoryBean">
			<property name="dataSource" ref="egov.dataSource"/>
			<property name="configLocation" value="classpath:/egovframework/mapper/config/mapper-config.xml" />
			<property name="mapperLocations">
				<list>
					<value>classpath:/egovframework/mapper/com/**/*_${Globals.DbType}.xml</value>
					<value>classpath:/egovframework/mapper/codegurus/**/*_${Globals.DbType}.xml</value>
				</list>
			</property>
		</bean>
	</beans>
	<beans profile="!local">
		<bean id="egov.sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="egov.dataSource"/>
			<property name="configLocation" value="classpath:/egovframework/mapper/config/mapper-config.xml" />
			<property name="mapperLocations">
				<list>
					<value>classpath:/egovframework/mapper/com/**/*_${Globals.DbType}.xml</value>
					<value>classpath:/egovframework/mapper/codegurus/**/*_${Globals.DbType}.xml</value>
				</list>
			</property>
		</bean>
	</beans>
	<!-- ============================== 기본 데이터소스 관련 - end ================================ -->

	<!-- ============================== VOC용 데이터소스 관련 - start ============================= -->
	<beans profile="local">
		<bean id="sqlSessionVOC" class="codegurus.cmm.config.RefreshableSqlSessionFactoryBean">
			<property name="dataSource" ref="dataSourceVOC"/>
			<property name="configLocation" value="classpath:/egovframework/mapper/config/mapper-config.xml" />
			<property name="mapperLocations">
				<list>
					<value>classpath:/egovframework/mapper/codegurus_ext/voc/*_${Globals.DbType}.xml</value>
				</list>
			</property>
		</bean>
	</beans>
	<beans profile="!local">
		<bean id="sqlSessionVOC" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSourceVOC"/>
			<property name="configLocation" value="classpath:/egovframework/mapper/config/mapper-config.xml" />
			<property name="mapperLocations">
				<list>
					<value>classpath:/egovframework/mapper/codegurus_ext/voc/*_${Globals.DbType}.xml</value>
				</list>
			</property>
		</bean>
	</beans>
	<!-- ============================== VOC용 데이터소스 관련 - end =============================== -->

	<beans>
		<!-- 실행환경에서 빈이름 참조(EgovAbstractDAO) -->
		<bean id="egov.lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" lazy-init="true" />

		<bean id="egov.sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
			<constructor-arg ref="egov.sqlSession"/>
		</bean>
		<bean id="sqlSessionTemplateVOC" class="org.mybatis.spring.SqlSessionTemplate">
			<constructor-arg ref="sqlSessionVOC"/>
		</bean>

		<!-- mybatis mapper interface scan -->
		<!-- 기본 데이터소스 범위 -->
		<mybatis:scan base-package="codegurus.sample" 	factory-ref="egov.sqlSession"/>
		<mybatis:scan base-package="codegurus.cmm" 		factory-ref="egov.sqlSession"/>
		<mybatis:scan base-package="codegurus.auth" 	factory-ref="egov.sqlSession"/>
		<mybatis:scan base-package="codegurus.study" 	factory-ref="egov.sqlSession"/>
		<mybatis:scan base-package="codegurus.oneline" 	factory-ref="egov.sqlSession"/>

		<!-- VOC 데이터소스 범위 (패키지 경로가 기본 데이터소스와 겹치면 안되기 때문에 '_ext' 추가) -->
		<mybatis:scan base-package="codegurus_ext.voc" 	factory-ref="sqlSessionVOC"/>
	</beans>

</beans>